<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cruel.snakesnladders" version="1.0.0" android-versionCode="1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Snakes n' Ladders</name>
    <description>
        Snakes n' Ladder game
    </description>
    <author email="dev@surajmandal.in" href="https://surajmandal.in">
        Pikoloo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" /> -->
    <icon src="res/ic_launcher.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
